/* .comments-container is a class rendered by the CommentsList feature /src/feautures/commentsList */
.comments-container {
    display: grid;
    gap: 0.5rem;
}

.comment-container {
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--clr-smoky-black);
}

.comment-container:hover {
    background-color: var(--clr-old-lavender);
    transition: all 0.25s;
}

.post-info-icon {
    grid-area: icon;
}

.post-info-text {
    grid-area: text;
}

.comment-info-wrapper {
    display: grid;
    grid-template-areas: "icon text";
    grid-template-columns: min-content;

}

@media only screen and (min-width: 768px) {
    .comment-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        font-size: 0.9rem;
    }    
}

@media only screen and (min-width: 1440px) {

}