nav {
    display: flex;
    width: 100vw;
    height: 80px;
    background-color: #34275c;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
}

.logo-container {
    display: flex;
    align-items: flex-end;
    height: 50px;
}

.logo {
    height: 100%;
}

.app-title {
    padding-inline: 1rem;
    font-weight: 800;
}