footer {
    display: flex;
    width: 100dvw;
    height: 50px;
    background-color: var(--clr-chinese-black);
    justify-content: space-evenly;
    align-items: center;
    margin-top: auto;
    padding-block: 1rem;
}