.post-container {
    margin-bottom: 1.5rem;
    padding: 1rem;
    background-color: var(--clr-chinese-black);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0.5rem;
    cursor: pointer;
}

.post-container:first-of-type {
    margin-top: 1.5rem;
}

.post-title {
    color: var(--clr-old-platinum);
    font-weight: var(--fw-n);
    text-wrap: balance;
}

.post-info-wrapper {
    padding-block: 1rem 0;
}

.author-wrapper,
.date-posted-wrapper,
.num-comments-wrapper {
    display: flex;
}

.post-info-icon {
    height: 1rem;
    padding-inline: 0.25rem;
}

.post-info-detail {
    color: var(--clr-old-lavender);
    font-weight: 600;
    font-size: 0.9rem;
    letter-spacing: 0.05em;
}

.post-image {
    height: 20rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    max-width: 100%;
}

.num-comments {
    cursor: pointer;
    outline: none;
    border: none;
    background-image: none;
    background-color: transparent;
}

@media only screen and (min-width: 768px) {
    .post-container:first-of-type {
        margin-top: 0;
    }

    .post-info-wrapper {
        display: flex;
        gap: 1rem;
    }

    .author-wrapper,
    .date-posted-wrapper,
    .num-comments-wrapper {
        justify-content: center;
    }
}