.post-container {
    margin: 1rem;
    padding: 1rem;
    background: rgba(41, 26, 85, 1.00);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.post-title {
    color: rgba(61, 188, 170, 1);
}

.post-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.post-image {
    height: 20rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.num-comments {
    cursor: pointer;
    outline: none;
    border:none;
    background-image:none;
    background-color: transparent;
    color: white;
}